# Google Search Console (GSC) Settings
SEO_GSC_SITE_URL=https://pand0raq.dev/
SEO_GSC_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
# Use double quotes and escape newlines with \n for the private key
SEO_GSC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----"

# Google Analytics 4 (GA4) Settings
SEO_GA4_PROPERTY_ID=123456789
